*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1{
    color: royalblue;
}

nav{
    display: flex;
    background-color: rgb(26,51,116);
    height: 50px;
}

nav > ul {
    display: flex;
}
nav > ul > li, nav a{
    color: whitesmoke;
    padding: 15px;
}


form{
    background-color: rgb(232, 232,232);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

input{
    margin: 0.5em 0;
    padding: 0.5em;

    border-radius: 0.5em;
}

input:focus{
    outline: none;
}

button{
    background-color: rgb(26,51,116) ;
    padding: 0.3em;
    min-width: 100px;
    color: whitesmoke;
    border-radius: 0.5em;
    margin: 0.5em 0;
    border: none;
}

.error{
    color: red;
    font-size: 0.9em;
}

.inputError{
    border: 1px solid red;
  }